@model KutuphaneYonetimi2O.Entites.Model.Kitap
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div style="text-align: center; margin: 15px; background-color: #343A40; color: white ">
    <h2> <b>Kitap Güncelleme </b></h2>
</div>

<div style="margin:15px" class="form-group">

    @using (Html.BeginForm("Guncelle", "Kitap", FormMethod.Post))
    {
        @Html.Label("Kitap Id")
        @Html.TextBoxFor(x => x.KitapId, new { @class = "form-control" ,@readonly ="readonly" })
        <br />

        @Html.Label("Kategirisi")
        @Html.DropDownListFor(x => x.KategoriId, (List<SelectListItem>)ViewBag.Kategoriler, new { @class = "form-control" })
        <br />

        @Html.Label("Kitap Adı")
        @Html.TextBoxFor(x => x.KitapAdi, new { @class = "form-control" })
        <br />
        @Html.Label("Kitap Açıklama")
        @Html.TextBoxFor(x => x.KitapAciklama, new { @class = "form-control" })
        <br />
        @Html.Label("Yazarı")
        @Html.DropDownListFor(x => x.YazarId, (List<SelectListItem>)ViewBag.Yazarlar, new { @class = "form-control" })
        <br />
        @Html.Label("Sayfa Sayısı")
        @Html.TextBoxFor(x => x.SayfaSayisi, new { @class = "form-control" })
        <br />
        @Html.Label("Basım Yılı")
        @Html.TextBoxFor(x => x.BasimYili, new { @class = "form-control" })
        <br />
        @Html.Label("Yayin Evi ")
        @Html.DropDownListFor(x => x.YayinEviId, (List<SelectListItem>)ViewBag.YayinEvleri, new { @class = "form-control" })
        <br />
        <button style="text-align: center; background-color: #343A40; color: white "> Güncelle </button>
    }

</div>


