@model List<Blog.EntitesLayer.Concrate.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserPanelLayout.cshtml";
}


@using (Html.BeginForm("Index","User",FormMethod.Get))
{
    <div class="text-right">
        <b>Yazar Adı Giriniz : &nbsp;</b>@Html.TextBox("aramaKelime")
        <input type="submit" value="Ara"/>
    </div>

}

<section class="content">

    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body pb-0">
            <div class="row">
                @foreach (var user in Model)
                {


                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                                @user.UserTitel
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b>@user.UserLastName&nbsp;@user.UserLastName</b></h2>
                                        <p class="text-muted text-sm"><b>About: @(user.UserAbout.Length > 150 ? user.UserAbout.Substring(0,150) : user.UserAbout) </b>  </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: @user.UserEmail</li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img src="@user.UserPhotoThumpnailPath" alt="user-avatar" class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-right">
                                    @{
                                        if (user.UserStatus == true)
                                        {
                                            <a href="/User/Bam/@user.UserId" class="btn btn-sm btn-danger">
                                                <i class="fas fa-edit"></i>Engelle
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="/User/Bam/@user.UserId" class="btn btn-sm btn-success">
                                                <i class="fas fa-edit"></i>Aktif Et
                                            </a>
                                        }
                                    }

                                    <a href="#" class="btn btn-sm btn-primary">
                                        <i class="fas fa-podcast"></i> Yazıları
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <nav aria-label="Contacts Page Navigation">
                <ul class="pagination justify-content-center m-0">
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                    <li class="page-item"><a class="page-link" href="#">8</a></li>
                </ul>
            </nav>
        </div>
        <!-- /.card-footer -->
    </div>
    <!-- /.card -->

</section>

