@model KutuphaneYonetimi2O.Entites.Model.YayinEvi
@{ ViewBag.Title = "Guncelle";
                Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<div style="text-align:center;color:coral">
    <h2><b>Kategori Ekle</b></h2>
</div>
<div style="margin:15px" class="form-group">
    @using (Html.BeginForm("Guncelle", "YayinEvi", FormMethod.Post))
    {
@Html.LabelFor(x => x.YayinEviId)
                @Html.TextBoxFor(x => x.YayinEviId, new { @class = "form-control" ,@readonly="readonly" })
        <br />
                                @Html.LabelFor(x => x.YayinEviAdi)
                                                @Html.TextBoxFor(x => x.YayinEviAdi, new { @class = "form-control" })
                                                                <br />
                                                                                @Html.LabelFor(x => x.YayinEviAciklama)
                                                                                                @Html.TextBoxFor(x => x.YayinEviAciklama, new { @class = "form-control" })
                                                                                                                <br />
                                                                                                                                <button class="btn btn-success">  Güncelle </button>}
</div>



