
@model Blog.WebMvc.ViewModels.AboutViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}


<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle"> Hakkımızda </h3>
        <div class="row inner-sec">
            <!--left-->
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                <div class="blog-grid-top">

                    <div class="blog_info_left_grid">
                        <a href="#">
                            <img src="@Model.About.Photo.PhotoPath" class="img-fluid" alt="">
                        </a>
                    </div>
                    <h3>
                        @Model.About.AboutTitle
                    </h3>
                    <p>
                        @Model.About.AboutContent
                    </p>
                </div>
            </div>
            <!--//left-->
            <!--right-->
            <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                <div class="right-blog-info text-left">
                    <div class="tech-btm">
                        <img src="images/banner1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="tech-btm">
                        <h4>Sign up to our newsletter</h4>
                        <p>Pellentesque dui, non felis. Maecenas male </p>
                        <form action="#" method="post">
                            <input type="email" placeholder="Email" required="">
                            <input type="submit" value="Subscribe">
                        </form>

                    </div>
                    <div class="tech-btm widget_social">
                        <h4>Sosyal Medya Hesaplarımız</h4>
                       
                            <ul>
                                @foreach (var social in Model.SocialMedias )
                                {
                                <li>
                                    <a class="@social.SocialMediaClass" href="@social.SocialMediaLink">
                                        <i class="@social.SocialMediaIconClass"></i>
                                        <span class="count">@social.SocialMediaFolowerCount</span> @social.SocialMediaName Takipçileri
                                    </a>
                                </li>
                                }
                            </ul>
                    
                    </div>

                </div>

            </aside>
            <!--//right-->
        </div>
    </div>
</section>
<!--//main-->
