@model KutuphaneYonetimi1O.Entites.Model.Kitap

@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="font-family:'Century Gothic'">

    <div style="text-align: center; background-color: #1C2E3E;color:white;margin:15px">
            <h2><b>Kitap Ekle</b></h2>
    </div>
</div>

<div style="margin:15px">
    @using (Html.BeginForm("Ekle", "Kitap", FormMethod.Post))
    {
        @Html.Label("Kategorisi")
        @Html.DropDownListFor(x => x.KategoriId, (List<SelectListItem>)ViewBag.Kategoriler, new { @class = "form-control" })
        <br />

        @Html.Label("Kitap Adı")
        @Html.TextBoxFor(x => x.KitapAdi, new { @class = "form-control" })
        <br />

        @Html.Label("Kitap Açıklama")
        @Html.TextBoxFor(x => x.KitapAciklama, new { @class = "form-control" })
        <br />
        @Html.Label("Sayfa Sayısı")
        @Html.TextBoxFor(x => x.SayfaSayisi, new { @class = "form-control" })
        <br />
        @Html.Label("Basım Yılı")
        @Html.TextBoxFor(x => x.BasimYili, new { @class = "form-control" })
        <br />
        @Html.Label("Yayın Evi")
        @Html.DropDownListFor(x => x.YayinEviId, (List<SelectListItem>)ViewBag.YayinEvleri, new { @class = "form-control" })
        <br />
        @Html.Label("Yazarı")
        @Html.DropDownListFor(x => x.YazarId, (List<SelectListItem>)ViewBag.Yazarlar, new { @class = "form-control" })
        <br />
        <button style="text-align: center; background-color: #1C2E3E; color: white"> <b>Kitap ekle</b></button>
    }
</div>