@using Blog.EntitesLayer.Concrate
@model IEnumerable<Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}



    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">Blog Postlar</h3>
            <div class="inner-sec">
                <!--left-->
                <div class="left-blog-info-w3layouts-agileits text-left">
                    <div class="row">
                        
                        @foreach (var  post in Model)
                        {


                            <div class="col-lg-4 card">
                                <a href="single.html">
                                    <img src="@post.Photo.PhotoTumbnail" class="card-img-top img-fluid" alt="">
                                </a>
                                <div class="card-body">
                                    <ul class="blog-icons my-4">
                                        <li>
                                            <a href="#">
                                                <i class="far fa-calendar-alt"></i> @post.CreateDate.ToString("dd-MMM-yyy HH:mm")
                                            </a>
                                        </li>
                                        <li class="mx-2">
                                            <a href="#">
                                                <i class="far fa-comment"></i> @post.CommentCount
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fas fa-eye"></i> @post.LikeCount
                                            </a>
                                        </li>

                                    </ul>
                                    <h5 class="card-title">
                                        <a href="single.html">@post.PostTitle</a>
                                    </h5>
                                    <p class="card-text mb-3">@(post.PostContent.Length >= 150 ? post.PostContent.Substring(0, 150) : post.PostContent.ToString()) ... </p>
                                    <a href="/Blog/BlogOku/@post.PostId" class="btn btn-primary read-m">Devamı</a>
                                </div>
                            </div>

                        }
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-left mt-4">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Bir önceki</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Bir Sonraki</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--//left-->
                </div>
            </div>
        </div>
    </section>




