@model List<Blog.EntitesLayer.Concrate.Post>
@{
    ViewBag.Title = "MyBlogList";
    Layout = "~/Views/Shared/_UserPanelLayout.cshtml";
}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@Model[0].Writer.UserName &nbsp; @Model[0].Writer.UserLastName</h3>

        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 1%">
                            #
                        </th>
                        <th style="width: 20%">
                            Başlık
                        </th>
                        <th style="width: 30%">
                            İçerik
                        </th>

                        <th style="width: 8%" class="text-center">
                            Kategorisi
                        </th>
                        <th style="width: 8%" class="text-center">
                            Detaylar
                        </th>
                        <th style="width: 20%">
                            İşlemler
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in Model)
                    {


                    <tr>
                        <td>
                            @post.PostId
                        </td>
                        <td>
                            <a>
                                @post.PostTitle
                            </a>
                            <br />
                            <small>
                                @post.CreateDate
                            </small>
                        </td>
                        <td>
                              @(post.PostContent.Length > 150 ? post.PostContent.Substring(0,150) : post.PostContent))
                        </td>
                        <td class="project-state">
                            <span class="badge badge-success">@post.Category.CategoryName</span>
                        </td>
                        <td>
                            <a href="/Post/CommentList/@post.PostId"> <i class="fas fa-comment"> </i>   @post.CommentCount </a>  &nbsp;&nbsp;
                            <a href="/Post/LikeList/@post.PostId">             <i class="fas fa-users"> </i> @post.LikeCount</a>
               
                        </td>
                        <td class="project-actions text-center">
                            <a class="btn btn-info btn-sm" href="/Post/Edit/@post.PostId">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Düzenle
                            </a>
                            <!-- Silme işlemini java script ile yapalım.... -->
                            <a class="btn btn-danger btn-sm" href="/Post/Delete/@post.PostId">
                                <i class="fas fa-trash">
                                </i>
                                Sil
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>

