@model KutuphaneYonetimi1O.Entites.Model.YayinEvi
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Guncelle</h2>

<div class="form-group">
    @using (Html.BeginForm("Guncelle", "YayinEvi", FormMethod.Post))
    {
        @Html.Label("Id")
        @Html.TextBoxFor(x => x.YayinEviId, new { @class = "form-control", @readonly="readonly" })
        <br />
        @Html.Label("Adı")
        @Html.TextBoxFor(x => x.YayinEviAdi, new { @class = "form-control" })
        <br />
        @Html.Label("Açıklama")
        @Html.TextBoxFor(x => x.YayinEviAciklama, new { @class = "form-control" })
        <br />
        <button class="btn-primary"> Güncelle </button>
    }
</div>
