@model KutuphaneYonetimi2O.Entites.Model.Yazar
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yazar Güncelleme</h2>

@using (Html.BeginForm("Guncelle", "Yazar", FormMethod.Post))
{
    @Html.Label("Yazar Id")
    @Html.TextBoxFor(x => x.YazarId, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.Label("Yazar Adı")
    @Html.TextBoxFor(x => x.YazarAdi, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar Soyadı")
    @Html.TextBoxFor(x => x.YazarSoyadi, new { @class = "form-control" })
    <br />
    @Html.Label("Doğum Tarihi")
    @Html.TextBoxFor(x => x.DogumTarihi, new { @class = "form-control"})
    <br />
    <button class="btn-success"> Güncelle </button>
}

