@using KutuphaneYonetimi2O.Entites.Model
@model List<Yazar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="text-align:center;margin:15px">
    <h2><b>Yazarlarımız </b></h2>
</div>
<div style="margin:15px">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Yazar Id</th>
                <th>Yazar Adı</th>
                <th>Yazar Soyadı</th>
                <th>Doğum Tarihi</th>
                <th>Durumu</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var yazar in Model)
            {
                <tr>
                    <td>@yazar.YazarId</td>
                    <td>@yazar.YazarAdi</td>
                    <td>@yazar.YazarSoyadi</td>
                    <td>@yazar.DogumTarihi</td>
                    <td>@yazar.YazarDurumu</td>
                    <td>
                        <a class="btn btn-danger" href="/Yazar/Sil/@yazar.YazarId"> Sil </a>&nbsp;
                        <a class="btn btn-success" href="/Yazar/Guncelle/@yazar.YazarId"> Güncelle </a>&nbsp;
                        <a class="btn btn-info" href="/Yazar/YazarinKitaplari/@yazar.YazarId"> Yazarın Kitaplari </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <a class="btn btn-primary" href="/Yazar/Ekle/"> Yazar Ekle </a>

</div>


