@model KutuphaneYonetimi1O.Entites.Model.Uye
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="text-align: center; background-color: #1CB15F ;color:white;font-family:'Century Gothic';margin:5px">
    <h2><b>@Model.UyeAdi&nbsp;@Model.UyeSoyadi Güncelleme Sayfası </b></h2>
</div>


<div class="form-group" style="margin:5px">
    @using (Html.BeginForm("Guncelle", "Uye", FormMethod.Post))
    {
        @Html.Label("Üye Id")
        @Html.TextBoxFor(m => m.UyeId, new { @class = "form-control", @readonly = "readonly" })
        <br />
        @Html.Label("Üye Adı")
        @Html.TextBoxFor(m => m.UyeAdi, new { @class = "form-control" })
        <br />
        @Html.Label("Üye Soyadı")
        @Html.TextBoxFor(m => m.UyeSoyadi, new { @class = "form-control" })

        <br />
        @Html.Label("Telefonu")
        @Html.TextBoxFor(m => m.Telefon, new { @class = "form-control" })
        <br />
        @Html.Label("Email")
        @Html.TextBoxFor(m => m.UyeEmail, new { @class = "form-control" })
        <br />
        @Html.Label("Cinsiyet")
        @Html.TextBoxFor(m => m.Cinsiyet, new { @class = "form-control" })
        <br />
        @Html.Label("Fotoğraf")
        @Html.TextBoxFor(m => m.Fotograf, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary" style="background-color: #1CB15F;color:white"> Güncelle </button>
    }
</div>