@using KutuphaneYonetimi1O.Entites.Model
@using PagedList
@using PagedList.Mvc
@model  PagedList.IPagedList<Uye>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="text-align: center; background-color: #1C2E3E; color: white; font-family: 'Century Gothic'; margin: 5px">
    <h2><b>Üyelerimiz</b></h2>
</div>

<div class="form-group" style="text-align:right;margin:5px">
    @using (Html.BeginForm("Index", "Uye", FormMethod.Get))
    {
        <div style="color: #1C2E3E"><b> Kitap Adı : </b> @Html.TextBox("uyeAdi")&nbsp;<button style="color: white; background-color: #1C2E3E"> Arama yap</button> </div>

    }
</div>

<div class="form-group">
    <table class="table table-bordered" style="text-align:center;font-family:'Century Gothic'">
        <thead>
            <tr style="background-color: #1C2E3E; color: white">
                <th>Uye Id</th>
                <th>Adı Soyadı</th>
                <th>Doğum Tarihi</th>
                <th>Durumu</th>
                <th>Cinsiyet</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Fotoğraf</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var uye in Model)
            {
                #region //genel kontroller
                string renk = "red", cinsiyet = "Belirtilmemiş";
                if (uye.UyeDurumu)
                {
                    renk = "#000000";
                }
                else
                {
                    renk = "red";
                }
                if (uye.Cinsiyet == "K")
                {
                    cinsiyet = "Kadın";
                }
                else if (uye.Cinsiyet == "E")
                {
                    cinsiyet = "Erkek";
                }
                #endregion

                <tr style="color:@renk">
                    <td>@uye.UyeId</td>
                    <td>@uye.UyeAdi&nbsp;@uye.UyeSoyadi</td>
                    <td>@uye.DogumTarihi</td>
                    <td>@uye.UyeDurumu</td>
                    <td>@cinsiyet</td>
                    <td>@uye.UyeEmail</td>
                    <td>@uye.Telefon</td>
                    <td>
                        <a href="/Uye/Guncelle/@uye.UyeId"><img src="@uye.Fotograf" width="50px" height="50px" /></a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="/Uye/Sil/@uye.UyeId"> Sil</a>&nbsp;
                        <a class="btn btn-primary" href="/Uye/Guncelle/@uye.UyeId"> Güncelle</a>&nbsp;
                        <a class="btn btn-info" href="/Uye/KitapHareket/@uye.UyeId"> Üyenin Kitapları</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />

    @Html.PagedListPager((IPagedList)Model, page=>Url.Action("Index",new { page}))
    <a class="btn btn-secondary-" style="background-color: #1C2E3E; color: white" href="/Uye/Ekle/"> Yeni Üye Ekle</a>

</div>
