@model KutuphaneYonetimi2O.Entites.Model.Uye
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="text-align: center; background-color: #218838; color: white; margin: 15px; font-family: 'Century Gothic'">
    <h2><b> Üye Ekleme </b></h2>
</div>

<div class="form-group" style="margin:15px">
    @using (Html.BeginForm("Ekle", "Uye", FormMethod.Post))
    {
        @Html.Label("Üye Adı")
        @Html.TextBoxFor(x => x.UyeAdi, new { @class = "form-control" })
        <br />
        @Html.Label("Üye Soyadi")
        @Html.TextBoxFor(x => x.UyeSoyadi, new { @class = "form-control" })
        <br />
        @Html.Label("Cinsiyet")
        @Html.TextBoxFor(x => x.Cinsiyet, new { @class = "form-control" })
        <br />
        @Html.Label("Email")
        @Html.TextBoxFor(x => x.UyeEmail, new { @class = "form-control" })
        <br />
        @Html.Label("Telefonu")
        @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control" })
        <br />
        @Html.Label("Doğum Tarihi")
        @Html.TextBoxFor(x => x.DogumTarihi, new { @class = "form-control" })
        <br />
        @Html.Label("Fotograf URL")
        @Html.TextBoxFor(x => x.Fotograf, new { @class = "form-control" })
        <br />
        <button class="btn-success"> Kaydet </button>
    }
</div>